{:system-profile :dev

 :schema-path "schema.edn"
 :migration-dir "migrations"

 :appender-opts
 #profile {:dev {:path "logs/dev.log"
                 :max-size 60
                 :pattern :daily}
           :test {:path "logs/test.log"
                  :max-size 60
                  :pattern :daily}
           :default {:path "logs/db-base.log"
                     :max-size 60
                     :pattern :daily}}

 :db-opts {:adapter       "postgresql"
           :username      "shun"
           :password      "smilehu"
           :database-name #profile {:dev "db-base"
                                    :default "db-base"
                                    :test "db-base_test"}
           :server-name   "localhost"
           :port-number   #profile {:dev 35432
                                    :default 35432
                                    :test 45432}}

 :migratus {:store :database
            :migration-dir #ref [:migration-dir]
            :db #ref [:db-opts]}

 :components
 {:timbre
  {:start (db-base.config/set-timbre-config!
            {:min-level :info
             :timestamp-opts {:timezone (db-base.config/taipei-zone)}
             :appenders {:println {:min-level :info}
                         :rolling (db-base.config/rolling-appender #ref [:appender-opts])}})}
  :migratus
  {:start (migratus.core/migrate #ref [:migratus])}

  :system
  {:stop (redelay.core/stop)}}}
