{:system-profile :dev

 :jdbc-url
 #profile {:default "jdbc:postgresql://localhost:35432/db-base?user=shun&password=smilehu"
           :dev "jdbc:postgresql://localhost:35432/db-base?user=shun&password=smilehu"
           :test "jdbc:postgresql://localhost:45432/db-base_test?user=shun&password=smilehu"}

 :schema-path "schema.edn"
 :migration-dir "migrations"
 :address-path "raw/address.csv"
 :bank-data ["raw/twd.txt" "raw/bankno.txt"]

 :appender-opts
 #profile {:dev {:path "logs/dev.log"
                 :max-size 60
                 :pattern :daily}
           :test {:path "logs/test.log"
                  :max-size 60
                  :pattern :daily}
           :default {:path "logs/db-base.log"
                     :max-size 60
                     :pattern :daily}}

 :ragtime-config
 {:datastore (ragtime.jdbc/sql-database {:connection-uri #ref [:jdbc-url]})
  :migrations (ragtime.jdbc/load-resources #ref [:migration-dir])
  :strategy #profile {:default ragtime.strategy/raise-error
                      :dev ragtime.strategy/rebase
                      :test ragtime.strategy/rebase}}

 :components
 {:timbre
  {:start (db-base.config/set-timbre-config!
            {:min-level :info
             :timestamp-opts {:timezone (db-base.config/taipei-zone)}
             :appenders {:println {:min-level :info}
                         :rolling (db-base.config/rolling-appender #ref [:appender-opts])}})}

  :gungnir
  {:pre-start (db-base.schema/register-all!)
   :start (gungnir.database/set-datasource! (db-base.config/get-db))}

  :system
  {:pre-start (clip/ref :gungnir)
   :start (db-base.ragtime/migrate)
   :post-start (db-base.raw-data.bank/init-bank-seed!)
   :stop (redelay.core/stop)}}}
