{:up ["CREATE TABLE bank (id bigint NOT NULL GENERATED ALWAYS AS IDENTITY PRIMARY KEY, bank_id text NOT NULL UNIQUE, name text NOT NULL, memo text);"],
 :down ["DROP TABLE IF EXISTS bank CASCADE;"],
 :id "100-bank"}
